
/* for code within text */
code {
	/*background-color: #EEF4FF;*/
	background-color: #FAFCFF;
	border-width:0px;
	/*	border-color: #90CCF9;*/
	border-color: #CCCCCC;
	border-style:solid;
	padding:1;
	margin:2;
	font-family: courier, fixed, monospace;
	font-size:11;
	/*	color:DarkBlue;*/
}

li {
    margin-top:2;
    margin-bottom:2;
}
